# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment configuration files
.env

# Ignore any local development files or directories
venv/
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore Docker-related files
.docker/
.DS_Store
